.header {
    padding: 20px;
    background-color: rgb(255, 208, 0);
}
.navLink a{
    margin-left : 20px;
};
.navLink {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}